@model IEnumerable<ShopGroceryBusinessLayer.Models.GroceryType>

@{
    ViewBag.Title = "ItemType";
}

<h2>ItemType</h2>

<p>
    @Html.ActionLink("Create New", "AddItemType")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroceryItemTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroceryItemTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditItemType", new { id=item.GroceryItemTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroceryItemTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroceryItemTypeId })
        </td>
    </tr>
}

</table>
